.about-us-container {
  max-width: 600px;
  width: 100%;
  /* padding: 20px; */
  /* background-color: red; */
  /* text-align: justify; */
}
  
.about-us-heading {
  margin-bottom: 20px;
}
  
.about-us-description {
  margin-bottom: 30px;
}
  
.about-us-content {
  margin-bottom: 20px;
}
.plant_logo_right{
  text-align: right;
}

.plant_logo_left{
  text-align: left;
}