/* Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
  /*overflow: hidden;*/
}

:root {
  /* colors */
  --colorprimary: #3d405b;
  --colorsecondary: #F4F1DE;
  --coloraccent: #81B29A;
  --colorlinks: #E07A5F;
  
  /* fonts */
  --ff: "Urbanist", sans-serif;
  --h1: 700 54px/70px var(--ff);
  --h2: 700 36px/36px var(--ff);
  --h3: 700 24px/30px var(--ff);
  --links: 700 18px/18px var(--ff);
  --p2: 300 30px/36px var(--ff);
  --p: 300 18px/30px var(--ff);
  --ps: 300 14px/24px var(--ff);

  /* transition */
  --transition: 0.2s ease-in-out;
  
  /* margins */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 3.75rem;
  --margin-outer-r: 6.25rem;
  --margin-outer-l: 10rem;
  --margin-outer-xl: 15rem;
}

/* font tags */
h1 {font: var(--h1);}
h2 {font: var(--h2);}
h3 {font: var(--h3);}
.links {font: var(--links);}
.p2 {font: var(--p2);}
p {font: var(--p);}
.ps {font: var(--ps);}

/* LandingPage.css */
.landing-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2023/01/07/21/25/plants-7704141_1280.jpg');
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 75vh;
  max-width: 1200px;
  width: 100%;
  top: 100px;
  gap: var(--margin-xxxl);
  backdrop-filter: blur(6px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.landing_content {
 /* margin-top: 430px;
  margin-left: 50px;
  transform: translate(-50%, -50%);
  z-index: 1; */
  text-align: center;
  max-width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.content p,
.content h1,
.content h3 {
  color: var(--colorsecondary);
}

.content h3 {
  font-size: 20px;
}

.divider {
  width: 50px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--coloraccent);
  margin: 10px 0;
}

.get-started-button {
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  background-color: var(--coloraccent);
  color: var(--colorsecondary);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.get-started-button:hover {
  background-color: var(--colorprimary);
}

/* ProductList.css */

.product-list-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  /* Initially off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2023/01/07/21/25/plants-7704141_1280.jpg');
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
  transition: top 0.5s ease;
  /* Smooth transition for top property */
  overflow-y: auto;
  /* Enable vertical scrolling */
  z-index: 2;
  /* Ensure it's above landing page content */
  backdrop-filter: blur(15px);
  display: flex;
  flex-wrap: wrap;
}

.product-list-container.visible {
  top: 0;
}
/* LandingPage.css */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .landing_content {
    margin-top: 100px; /* Adjust as needed */
    margin-left: 0;
    width: 80%; /* Adjust as needed */
    text-align: center;
  }

  .aboutus_container {
    margin-top: 20px; /* Adjust as needed */
    width: 80%; /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .landing_content {
    margin-top: 50px; /* Adjust as needed */
    width: 90%; /* Adjust as needed */
  }

  .aboutus_container {
    width: 90%; /* Adjust as needed */
  }
}
